
.category-faq {
    border-top: 1px solid #f0f0ef;
    margin: 20px 0 0;
    padding: 75px 0
}

.category-faq .faq-title {
    margin: 0 0 55px 20px;
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    padding: 0;
    color: #111;
    line-height: 1.3em;
    text-align: center
}

.category-faq dt {
    cursor: pointer;
    padding: 15px 45px 15px 20px;
    border-bottom: 1px solid #d2d2d1;
    position: relative
}

.category-faq dt h4 {
    font-size: 21px;
    font-weight: 700;
    color: #111;
    line-height: 1.4em;
    margin: 0;
}

.category-faq dt:before {
    content: '+';
    font-weight: 300;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 18px;
    height: 18px;
    line-height: 18px
}

.category-faq dt.active,
.category-faq dt.last {
    border-bottom: 0
}

.category-faq dt.active:before {
    content: '-'
}

.category-faq dd {
    padding: 10px 20px 30px
}